{% extends "base.html" %}

{% block conteudo %}
    <div id="capa">
        <img src="static/images/capa.png">
    </div>
    <div class="corpo">
        <h1>Sobre a universidade</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, tempore. Voluptatum voluptatibus molestias, provident facilis veniam consequatur, dolores nulla quia perferendis pariatur dolorem repellendus magni eligendi sapiente! Obcaecati, odio eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sequi harum, dignissimos reprehenderit officia ut minus culpa quod delectus rem at, laboriosam temporibus earum. Voluptates, eveniet eum! Totam, beatae aut? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id vitae voluptates quam neque nam, atque molestiae doloremque quibusdam doloribus sapiente voluptatem! Nihil ipsa, suscipit repellendus laudantium repudiandae minima quo tempore?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, tempore. Voluptatum voluptatibus molestias, provident facilis veniam consequatur, dolores nulla quia perferendis pariatur dolorem repellendus magni eligendi sapiente! Obcaecati, odio eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sequi harum, dignissimos reprehenderit officia ut minus culpa quod delectus rem at, laboriosam temporibus earum. Voluptates, eveniet eum! Totam, beatae aut? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id vitae voluptates quam neque nam, atque molestiae doloremque quibusdam doloribus sapiente voluptatem! Nihil ipsa, suscipit repellendus laudantium repudiandae minima quo tempore?</p>
    </div>
{% endblock %}