{% extends "base.html" %}

{% block conteudo %}
    <div class="corpo">
        <h1>Quem somos</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, tempore. Voluptatum voluptatibus molestias, provident facilis veniam consequatur, dolores nulla quia perferendis pariatur dolorem repellendus magni eligendi sapiente! Obcaecati, odio eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sequi harum, dignissimos reprehenderit officia ut minus culpa quod delectus rem at, laboriosam temporibus earum. Voluptates, eveniet eum! Totam, beatae aut? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id vitae voluptates quam neque nam, atque molestiae doloremque quibusdam doloribus sapiente voluptatem! Nihil ipsa, suscipit repellendus laudantium repudiandae minima quo tempore?</p>
        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Material sempre atualizado</li>
            <li>Material sempre atualizado</li>
            <li>Material sempre atualizado</li>
            <li>Material sempre atualizado</li>
        </ol>
        <hr>
        <h1>Objetivos</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, tempore. Voluptatum voluptatibus molestias, provident facilis veniam consequatur, dolores nulla quia perferendis pariatur dolorem repellendus magni eligendi sapiente! Obcaecati, odio eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sequi harum, dignissimos reprehenderit officia ut minus culpa quod delectus rem at, laboriosam temporibus earum. Voluptates, eveniet eum! Totam, beatae aut? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id vitae voluptates quam neque nam, atque molestiae doloremque quibusdam doloribus sapiente voluptatem! Nihil ipsa, suscipit repellendus laudantium repudiandae minima quo tempore?</p>
    </div>
{% endblock %}